@tailwind base;
@tailwind components;
@tailwind utilities;

/* Remove the @import statement and handle fonts separately */

/* Fixing other utilities */
@layer utilities {
  /* .rotate-y-180 {
    transform: rotateY(180deg);
  }

  .perspective {
    perspective: 1000px;
  }

  .flip-card {
    transition: transform 0.6s ease-in-out;
    transform-style: preserve-3d;
  }

  .flip-front,
  .flip-back {
    backface-visibility: hidden;
    position: absolute;
    width: 100%;
  }

  .flip-back {
    transform: rotateY(180deg);
  }

  .custom-datepicker::-webkit-calendar-picker-indicator {
    cursor: pointer;
    filter: invert(1) brightness(2) grayscale(1);
  } */

/* ::-webkit-scrollbar {
  width: 2px;
  height: 4px;
}

::-webkit-scrollbar-track {
  background: #050505;
  border-radius: 99px;
}

::-webkit-scrollbar-thumb {
  background-color: #121212;
  border-radius: 10px;
  border: 2px solid transparent;
}

::-webkit-scrollbar-thumb:hover {
  background-color: #555;
}

.dev {
  border: 1px dashed red;
} */

}


